:root {
    /* Colors */
    --primary-white: #fff;
    --accent-color: #2196F3;
    --accent-btn-color: #188CE8;
    --tittle-color: #212121;
    --text-color: #757575;
    --bg-color: #2F303A;
    --porfolio-btn-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --footer-text-color: rgba(255, 255, 255, 0.6);

    /* Fonts */
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

/* Reset */

body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--primary-white);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.section {
    padding: 120px 0;
    /* outline: 2px solid red; */
}

.title {
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 2px solid orange; */
}

/* Logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* Header */
.header {
    border: 1px solid var(--header-border-color);
}

.header-logo {
    color: var(--tittle-color);
}

.logo-part {
    color: var(--accent-color);
}

.header-nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-color);
}

.current {
    color: var(--accent-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}

.header-contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* Hero */

.hero {
    background-color: var(--bg-color);
    text-align: center;
    padding: 200px 0;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white);

    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white);

    display: inline-block;
    padding: 10px 24px;
    border: 0px;
    border-radius: 4px;
    min-width: 200px;
    align-items: center;
    
    cursor: pointer;
    background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-btn-color);
}

/* Features */

.visualy-hidden {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.feature-item {
    width: 270px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tittle-color);

    margin-bottom: 10px;
}

.feature-description {
    line-height: 1.71;

}

/* Services */

.services-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--tittle-color);
}

/* Team */

.team-item {
    width: 270px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--tittle-color);

    margin-bottom: 10px;
}

.team-name-div {
    padding: 30px 30px;
    text-align: center;
}

.team-description {
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */

.footer {
    background-color: var(--bg-color);
    padding: 60px 0;
}

.footer-logo {
    color: var(--primary-white);
    margin-bottom: 20px;
    display: inline-block;
}

.footer-contact-item {
    margin-bottom: 9px;
}

.footer-contact-link {
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--accent-color);
}

.adress {
    color: var(--primary-white);
}

/* Portfolio */

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--tittle-color);
    background-color: var(--porfolio-btn-color);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-white);
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittle-color);
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.88;
}