.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  min-height: 60px;
}

.nav__button {
  display: inline-flex;
  margin-left: auto;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.nav__icon-close {
  display: none;

  .nav__button.nav__button--is-open & {
    display: block;
  }
}

.nav__icon-menu {
  display: block;

  .nav__button.nav__button--is-open & {
    display: none;
  }
}

.nav__list {
  // display: flex;
  display: none;
}

.nav__item {
  position: relative;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-color);

  display: inline-block;
  padding: 32px 0;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }

  &:hover,
  &:focus,
  &--current {
    color: var(--accent-color);
  }
}
