.socials {
  display: inline-flex;
}

.socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);

  &--grey {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white);
  }
}

.socials__icon {
  fill: currentColor;
}
