.features__list {
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
  }
}

.features__item:last-child {
  margin-bottom: 0;

  @media screen and (min-width: 1200px) {
    margin-right: 0;
  }
}

.features__item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

.features__item:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.features__icon-wrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--porfolio-btn-color);
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-color);

  margin-bottom: 10px;
}

.features__description {
  line-height: 1.71;
}
