/* Footer */

.footer {
  background-color: var(--footer-bg-color);
  padding: 60px 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__container {
  // display: flex;
  // align-items: baseline;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    // justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

/* Footer Contacts Block */

.footer__adress-wrapper {
  // width: 231px;
  // margin-right: 70px;
  // margin-bottom: 60px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // width: 100%;
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }
}

.footer__logo {
  color: var(--primary-white);
  margin-bottom: 20px;
  display: inline-block;
}

.footer__contact-item {
  // margin-bottom: 9px;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__contact-link {
  line-height: 1.71;
  color: var(--footer-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: var(--accent-color);
}

.footer__contact-link--white {
  color: var(--primary-white);
}

/* Footer Socials Block */

.footer__socials-wrapper {
  // margin-right: auto;
  // margin-bottom: 60px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.footer__subscribe-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  font-size: inherit;
  text-transform: uppercase;
  color: var(--primary-white);
  margin-bottom: 20px;
}