<section class="services section">
  <div class="container">
    <h2 class="services__title title">Чим ми займаємося</h2>
    <ul class="services__list list">
      <li class="services__item">
        <img
          src="./images/services/service-1.jpg"
          alt="Додатки"
          width="370"
          height="294"
        />
        <div class="services__overlay">
          <p class="services__text">Десктопні додатки</p>
        </div>
      </li>
      <li class="services__item">
        <img
          src="./images/services/service-2.jpg"
          alt="Дизайн"
          width="370"
          height="294"
        />
        <div class="services__overlay">
          <p class="services__text">Мобільні додатки</p>
        </div>
      </li>
      <li class="services__item">
        <img
          src="./images/services/service-3.jpg"
          alt="Графіка"
          width="370"
          height="294"
        />
        <div class="services__overlay">
          <p class="services__text">Дизайнерські рішення</p>
        </div>
      </li>
    </ul>
  </div>
</section>
